[Desktop Entry]
Version=1.0
Type=Application
Name=Trekkie
Comment=Star Trek Timeline Tracker
Exec=trekkie
Icon=trekkie
Terminal=false
Categories=AudioVideo;Video;Player;
StartupNotify=true
MimeType=
Keywords=star trek;timeline;episodes;movies;tracker;